<!-- <ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <ion-slides pager="true">
    <ion-slide>
      <ion-card class="ion-text-start">
        <ion-card-header>
          <ion-card-title>Aenean bibendum</ion-card-title>
        </ion-card-header>

        <img src="https://dummyimage.com/600x400/bdbdbd/ffffff" alt="" />
      
        <ion-card-content>
          <ion-text>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate cursus lacus, in iaculis libero pellentesque id. Nullam arcu leo, faucibus quis sollicitudin vitae, dapibus a libero.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="ion-text-start">
        <ion-card-header>
          <ion-card-title>Nulla ullamcorper</ion-card-title>
        </ion-card-header>

        <img src="https://dummyimage.com/600x400/bdbdbd/ffffff" alt="" />
      
        <ion-card-content>
          <ion-text>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate cursus lacus, in iaculis libero pellentesque id. Nullam arcu leo, faucibus quis sollicitudin vitae, dapibus a libero.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="ion-text-start">
        <ion-card-header>
          <ion-card-title>Security</ion-card-title>
        </ion-card-header>

        <img src="https://dummyimage.com/600x400/bdbdbd/ffffff" alt="" />

        <ion-card-content>
          <ion-text>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate cursus lacus, in iaculis libero pellentesque id. Nullam arcu leo, faucibus quis sollicitudin vitae, dapibus a libero.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer no-border class="ion-padding">
  <ion-button expand="block" routerDirection="forward" routerLink="/login">Get started</ion-button>
</ion-footer>
