<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <span class="dot-top"></span>
  <span class="dot-bottom">
    <span class="dot-little"></span>
  </span>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="light"><h1>Welcome</h1></ion-card-title>
      <ion-card-subtitle color="light">Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text color="light">
        Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-text>

      <a routerDirection="forward" routerLink="/landing">Let's begin <span><ion-icon name="arrow-forward"></ion-icon></span></a>
    </ion-card-content>
  </ion-card>

</ion-content>
